node_modules
/.cache
/build
/public/build
.env
.env.*
!.env.example
.DS_Store
/.dev.sqlite
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
/prisma/*.db
/prisma/*.db-journal
.shopify
extensions/**/dist
coverage
*.log
.vscode
.idea
